<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Title</title>
    <th:block th:fragment="head-resource">
        <link rel="icon" th:href="@{/file/icon-home.png}" type="image/x-icon"/>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport"
              content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Fontawesome -->
        <link rel="stylesheet"
              href="https://use.fontawesome.com/releases/v5.1.1/css/all.css"
              integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ"
              crossorigin="anonymous">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet"
              href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
              crossorigin="anonymous">
        <script defer
                src="https://use.fontawesome.com/releases/v5.1.1/js/all.js"
                integrity="sha384-BtvRZcyfv4r0x/phJt9Y9HhnN5ur1Z+kZbKVgzVBAlQZX4jvAuImlIz+bG7TS00a"
                crossorigin="anonymous"></script>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                crossorigin="anonymous"></script>
        <script
                src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
                integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
                crossorigin="anonymous"></script>
        <script
                src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script
                src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
                integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
                crossorigin="anonymous"></script>
        <link rel="stylesheet" th:href="@{/css/style.css}">
    </th:block>
</head>
<body>
<menu class="shadow-sm mb-4" th:fragment="menu-admin">
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" th:href="@{/trang-chu}">
            <img th:src="@{/file/home.png}" alt="" style="width: 70px;">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbar-admin" aria-controls="navbar-admin"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between row pl-2 pr-2" id="navbar-admin">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link"
                                        th:href="@{/thong-tin-ca-nhan}">Thông tin cá nhân </a></li>
                <li class="nav-item"><a class="nav-link"
                                        th:href="@{/du-an}">Dự án </a></li>
                <li class="nav-item"><a class="nav-link"
                                        th:href="@{/nhan-vien}">Nhân Viên </a></li>
                <li class="nav-item"><a class="nav-link"
                                        th:href="@{/thong-ke}">Thống Kê </a></li>
            </ul>
            <ul class="navbar-nav" th:if="${admin}">
                <li class="nav-item"><span class="nav-link text-success" id="name-login" th:text="${name} "></span></li>
                <li class="nav-item"><a class="nav-link text-danger"
                                                        th:href="@{/dang-xuat}">Đăng xuất </a></li>
            </ul>
        </div>
    </nav>
</menu>

<menu class="shadow-sm mb-4" th:fragment="menu-user">
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" th:href="@{/trang-chu}"> <img
                th:src="@{/file/home.png}" alt="" style="width: 70px;">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbar-user" aria-controls="navbar-user"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse row justify-content-between pl-2 pr-2" id="navbar-user">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link"
                                        th:href="@{/thong-tin-ca-nhan}">Thông tin cá nhân </a></li>
                <li class="nav-item"><a class="nav-link"
                                        th:href="@{/cong-viec-ca-nhan}">Công việc tham gia </a></li>
                <li class="nav-item"><a class="nav-link"
                                        th:href="@{/danh-gia}">Đánh giá </a></li>
            </ul>
            <ul class="navbar-nav" th:if="${user}">
                <li class="nav-item"><span class="nav-link text-success" id="name-login" th:text="${name}"></span></li>
                <li class="nav-item"><a class="nav-link text-danger"
                                                        th:href="@{/dang-xuat}">Đăng xuất </a></li>
            </ul>
        </div>
    </nav>
</menu>
<menu class="shadow-sm mb-4" th:fragment="menu-login">
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" th:href="@{/trang-chu}"> <img
                th:src="@{/file/home.png}" alt="" style="width: 70px;">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbar" aria-controls="navbar"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse pl-2" id="navbar">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link"
                                        th:href="@{/dang-nhap}">Đăng nhập </a></li>
            </ul>
        </div>
    </nav>
</menu>

<main th:fragment="main">
    <h1>Main</h1>
</main>
<footer class="p-2 text-center text-danger shadow w-100"
        th:fragment="footer">
    <div id="alert-report"></div>
    <span>@anhnguyen.@phongcosy</span>
    <script th:src="@{/js/main.js}"></script>
</footer>
</body>
</html>