<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Nhân Viên</title>
    <th:block th:replace="~{/fragment/app-fragment :: head-resource}"></th:block>
</head>
<body>
<menu th:replace="~{/fragment/app-fragment :: menu-admin}"></menu>
<main>
    <!-- Modal -->
    <div class="modal fade" id="modal-employee" tabindex="-1"
         aria-labelledby="detail-employee" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="detail-employee">Chi tiết nhân
                        viên</h5>
                    <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <form class="form-post row" action="">
                                    <div class="form-group bg-light col-6">
                                        <label for="name"><strong>Tên</strong></label> <input
                                            type="text" class="form-control bg-light " name="name" id="name"
                                            placeholder="Nhập tên nhân viên">
                                        <div class="invalid-feedback">Bạn chưa nhập tên nhân viên.
                                        </div>
                                    </div>
                                    <div class="form-group bg-light col-6">
                                        <label><strong>Chức Vụ</strong></label> <input disabled readonly
                                            type="text" class="form-control bg-light " value="Nhân viên">
                                        <div class="invalid-feedback">
                                        </div>
                                    </div>
                                    <div class="form-group bg-light col-6">
                                        <label for="email"><strong>Email</strong></label> <input
                                            class="form-control bg-light " type="email" name="email" id="email"
                                            placeholder="Nhập email">
                                        <div class="invalid-feedback">Bạn chưa nhập email.</div>
                                    </div>
                                    <div class="form-group bg-light col-6">
                                        <label for="phone"><strong>Số điện thoại</strong></label> <input
                                            class="form-control bg-light " type="tel" name="phone" id="phone"
                                            placeholder="Nhập số điện thoại">
                                        <div class="invalid-feedback">Bạn chưa nhập số điện thoại.
                                        </div>
                                    </div>
                                    <div class="form-group bg-light col-6">
                                        <label for="password"><strong>Mật khẩu</strong></label> <input
                                            class="form-control bg-light " type="password" name="password"
                                            id="password" placeholder="Nhập mật khẩu">
                                        <div class="invalid-feedback">Bạn chưa nhập mật khẩu.</div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                    <button type="button" class="btn btn-success" id="btn-save">Lưu</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal-delete" tabindex="-1"
         aria-labelledby="delete-employee" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Xác nhận thao
                        tác</h5>
                    <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">Bạn có chắc chắn muốn xóa nhân viên
                    này không ?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                    <button type="button" class="btn btn-danger" id="btn-delete">Xóa</button>
                </div>
            </div>
        </div>
    </div>

    <div class="title-page">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <h1>Quản lý Nhân Viên</h1>
                </div>
                <div class="col-12">
                    <hr>
                </div>
            </div>
        </div>
    </div>

    <div class="tool-page">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <button type="button" class="btn btn-primary" data-toggle="modal"
                            data-target="#modal-task" id="btn-add-employee">
                        <i class="fas fa-plus"></i> Thêm Nhân Viên
                    </button>
                </div>
                <div class="col-md-3">
                    <select class="form-control bg-light" name="sort" id="sort">
                        <option>Sắp xếp</option>
                        <option>A -> Z</option>
                        <option>Z -> A</option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div class="table-data mt-3 mb-4">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover bg-white">
                            <thead>
                            <tr>
                                <th scope="col">STT</th>
                                <th scope="col">Tên</th>
                                <th scope="col">Công việc tham gia</th>
                                <th scope="col" width="150px">Hành động</th>
                            </tr>
                            <tr>
                                <td scope="row"></td>
                                <td><input class="form-control bg-light" type="text"
                                           id="name-search" name="name-search"></td>
                                </td>
                                <td scope="row"></td>
                                <td>
                                    <button type="button" class="btn btn-primary" id="btn-search">
                                        <i class="fas fa-search"></i> Tìm kiếm
                                    </button>
                                </td>
                            </tr>
                            </thead>
                            <tbody id="table-data">
                            <tr>
                                <th scope="row">11</th>
                                <td>Mark</td>
                                <td><a href="#" class="text-decoration-none text-light btn btn-success m-1">
                                    <i class="fas fa-tasks"></i>
                                    <span class="text-light"> Xem </span>
                                </a></td>
                                <td>
                                    <button type="button" class="btn btn-info update-employee mt-1"
                                            data-toggle="modal" data-target="#modal-employee">
                                        <i class="far fa-eye"></i>
                                        Chi tiết
                                    </button>
                                    <button type="button" class="btn btn-danger delete-employee"
                                            data-toggle="modal" data-target="#modal-delete">
                                        <i class="far fa-trash-alt"></i> Xóa
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<footer th:replace="~{/fragment/app-fragment :: footer}"></footer>

<script th:src="@{/js/model/ajax_model_employee.js}"></script>
<script th:src="@{/js/model/ajax_mail_sender.js}"></script>
<script th:src="@{/js/pages/ajax_page_employee.js}"></script>
</body>
</html>