<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Tiến độ công việc cá nhân</title>
    <th:block th:replace="~{/fragment/app-fragment :: head-resource}"></th:block>
</head>
<body>
<menu th:replace="~{/fragment/app-fragment :: menu}"></menu>
<main>
    <div class="modal fade" id="modal-employee-progress" tabindex="-1"
         aria-labelledby="detail-employee" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="detail-product">Cập nhật tiến độ</h5>
                    <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <form class="form-post row" action="">
                                    <div class="form-group bg-light col-6">
                                        <label for="progress-name"><strong>Tên</strong></label> <input
                                            type="text" class="form-control bg-light " name="progress-name"
                                            id="progress-name"
                                            readonly disabled>
                                    </div>
                                    <div class="form-group bg-light col-6">
                                        <label for="progress-task"><strong>Công việc</strong></label> <input
                                            class="form-control bg-light " type="text" name="progress-task"
                                            id="progress-task"
                                            readonly disabled>
                                    </div>
                                    <div class="form-group bg-light col-6">
                                        <label for="progress"><strong>Tiến độ</strong></label> <input
                                            class="form-control bg-light " type="number" min="0" max="100"
                                            oninput="validity.valid||(value='');" name="progress"
                                            id=progress>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                    <button type="button" class="btn btn-success" id="btn-progress">Cập nhật</button>
                </div>
            </div>
        </div>
    </div>

    <div class="title-page">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center" id="title-page">
                    <h1>Quản lý Tiến độ công việc cá nhân</h1>
                </div>
                <div class="col-12">
                    <hr>
                </div>
            </div>
        </div>
    </div>

    <div class="tool-page">
        <div class="container">
            <div class="row justify-content-end">
                <div class="col-md-3">
                    <select class="form-control bg-light" name="sort" id="sort">
                        <option>Sắp xếp</option>
                        <option>A -> Z</option>
                        <option>Z -> A</option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div class="table-data mt-3 mb-4">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover bg-white">
                            <thead>
                            <tr>
                                <th scope="col">STT</th>
                                <th scope="col">Công việc tham gia</th>
                                <th scope="col">Tiến độ</th>
                                <th scope="col">Hành động</th>
                            </tr>
                            </thead>
                            <tbody id="table-data">
                            <tr>
                                <th scope="row">11</th>
                                <td>Mark</td>
                                <td>Mark</td>
                                <td>
                                    <button type="button" class="btn btn-warning update-progress"
                                            data-toggle="modal" data-target="#modal-employee-progress">
                                        <i class="fas fa-edit"></i> Cập nhật
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<footer th:replace="~{/fragment/app-fragment :: footer}"></footer>

<script th:src="@{/js/model/ajax_model_employee.js}"></script>
<script th:src="@{/js/pages/ajax_page_employee_progress.js}"></script>
<script th:src="@{/js/model/ajax_model_task_to_employee.js}"></script>
</body>
</html>