<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Tiến độ công việc cá nhân</title>
    <th:block th:replace="~{/fragment/app-fragment :: head-resource}"></th:block>
</head>
<body>
<th:block th:if="${admin}">
    <menu th:replace="~{/fragment/app-fragment :: menu-admin}"></menu>
</th:block>
<th:block th:if="${user}">
    <menu th:replace="~{/fragment/app-fragment :: menu-user}"></menu>
</th:block>
<main>
    <div class="modal fade" id="modal-employee-progress" tabindex="-1"
         aria-labelledby="detail-employee" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="detail-product">Cập nhật tiến độ</h5>
                    <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <form class="form-post row" action="">
                                    <div class="form-group bg-light col-6">
                                        <label for="progress-task"><strong>Công việc</strong></label> <input
                                            class="form-control bg-light " type="text" name="progress-task"
                                            id="progress-task" readonly disabled>
                                    </div>
                                    <div class="form-group bg-light col-6">
                                        <label for="progress"><strong>Tiến độ</strong></label> <input
                                            class="form-control bg-light " type="number" min="0" max="100"
                                            oninput="validity.valid||(value='');" name="progress"
                                            id="progress">
                                        <div class="invalid-feedback">Bạn chưa nhập tiến độ đúng định dạng.
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                    <button type="button" class="btn btn-success" id="btn-progress">Cập nhật</button>
                </div>
            </div>
        </div>
    </div>

    <div class="title-page">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center" id="title-page">
                    <h1>Quản lý Tiến độ công việc cá nhân</h1>
                </div>
                <div class="col-12">
                    <hr>
                </div>
            </div>
        </div>
    </div>

    <div class="table-data mt-3 mb-4">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover bg-white pt-2 pb-2">
                            <caption>Công việc đang cập nhật</caption>
                            <thead>
                            <tr class="text-primary"><th colspan="6">Công việc đang cập nhật</th></tr>
                            <tr>
                                <th scope="col">STT</th>
                                <th scope="col">Công việc tham gia</th>
                                <th scope="col">Tiến độ</th>
                                <th scope="col">Cập nhật lần cuối</th>
                                <th scope="col">Người cập nhật</th>
                                <th scope="col">Hành động</th>
                            </tr>
                            </thead>
                            <tbody id="table-data-in-progress">
                            <tr>
                                <th scope="row">11</th>
                                <td>Mark</td>
                                <td>Mark</td>
                                <td>Mark</td>
                                <td>Mark</td>
                                <td>
                                    <button type="button" class="btn btn-warning update-progress"
                                            data-toggle="modal" data-target="#modal-employee-progress">
                                        <i class="fas fa-edit"></i> Cập nhật
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <hr>
                        <table class="table table-bordered table-hover bg-white pt-2 pb-2">
                            <caption>Công việc hoàn thành</caption>
                            <thead>
                            <tr class="text-success"><th colspan="5">Công việc hoàn thành</th></tr>
                            <tr>
                                <th scope="col">STT</th>
                                <th scope="col">Công việc tham gia</th>
                                <th scope="col">Dự án</th>
                                <th scope="col">Cập nhật lần cuối</th>
                                <th scope="col">Người cập nhật</th>
                            </tr>
                            </thead>
                            <tbody id="table-data-complete">
                            <tr>
                                <th scope="row">11</th>
                                <td>Mark</td>
                                <td>Mark</td>
                                <td>Mark</td>
                                <td>Mark</td>
                            </tr>
                            </tbody>
                        </table>
                        <hr>
                        <table class="table table-bordered table-hover bg-white pt-2 pb-2">
                            <caption>Công việc bị tạm dừng</caption>
                            <thead>
                            <tr class="text-secondary"><th colspan="5">Công việc bị tạm dừng</th></tr>
                            <tr>
                                <th scope="col">STT</th>
                                <th scope="col">Công việc tham gia</th>
                                <th scope="col">Dự án</th>
                                <th scope="col">Cập nhật lần cuối</th>
                                <th scope="col">Người cập nhật</th>
                            </tr>
                            </thead>
                            <tbody id="table-data-pause">
                            <tr>
                                <th scope="row">11</th>
                                <td>Mark</td>
                                <td>Mark</td>
                                <td>Mark</td>
                                <td>Mark</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<footer th:replace="~{/fragment/app-fragment :: footer}"></footer>

<script th:src="@{/js/model/ajax_model_employee.js}"></script>
<script th:src="@{/js/model/ajax_mail_sender.js}"></script>
<script th:src="@{/js/pages/ajax_page_employee_progress.js}"></script>
<script th:src="@{/js/model/ajax_model_task_to_employee.js}"></script>
</body>
</html>