<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Đăng nhập</title>
    <th:block th:replace="~{/fragment/app-fragment :: head-resource}"></th:block>
</head>
<body>
<div class="modal fade" id="modal-sign-up" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="">Đăng ký thông tin</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <form class="form-post row" action="">
                                <div class="form-group bg-light col-6">
                                    <label for="name"><strong>Tên</strong></label> <input
                                        type="text" class="form-control bg-light " name="name" id="name"
                                        placeholder="Nhập tên nhân viên">
                                    <div class="invalid-feedback">Bạn chưa nhập tên nhân viên.
                                    </div>
                                </div>
                                <div class="form-group bg-light col-6">
                                    <label><strong>Chức vụ</strong></label>
                                    <input disabled readonly
                                           type="text"
                                           class="form-control bg-light "
                                           value="Nhân viên">
                                    <div class="invalid-feedback">
                                    </div>
                                </div>
                                <div class="form-group bg-light col-6">
                                    <label for="email"><strong>Email</strong></label> <input
                                        class="form-control bg-light " type="email" name="email" id="email"
                                        placeholder="Nhập email">
                                    <div class="invalid-feedback">Bạn chưa nhập email.</div>
                                </div>
                                <div class="form-group bg-light col-6">
                                    <label for="phone"><strong>Số điện thoại</strong></label> <input
                                        class="form-control bg-light " type="tel" name="phone" id="phone"
                                        placeholder="Nhập số điện thoại">
                                    <div class="invalid-feedback">Bạn chưa nhập số điện thoại.
                                    </div>
                                </div>
                                <div class="form-group bg-light col-6">
                                    <label for="password"><strong>Mật khẩu</strong></label> <input
                                        class="form-control bg-light " type="password" name="password"
                                        id="password" placeholder="Nhập mật khẩu">
                                    <div class="invalid-feedback">Bạn chưa nhập mật khẩu.</div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary" id="btn-submit-sign-up">Đăng ký</button>
            </div>
        </div>
    </div>
</div>

<main class="container p-5">
    <form class="col-md-8 m-auto shadow pb-4 rounded bg-white">
        <h2 class="text-center p-3">Chào mừng bạn đến với hệ thống của chúng tôi</h2>
        <h4 class="text-center p-1">Mời đăng nhập đế sử dụng hệ thống</h4>
        <hr>
        <div class="form-group">
            <label for="email-login">Email </label>
            <input type="email" class="form-control" id="email-login" placeholder="Nhập email..." required>
            <div class="invalid-feedback"></div>
        </div>
        <div class="form-group">
            <label for="password-login">Mật khẩu</label>
            <input type="password" class="form-control" id="password-login" placeholder="Nhập mật khẩu..." required>
            <div class="invalid-feedback"></div>
        </div>
        <button type="button" class="btn btn-primary d-block ml-auto mr-auto mt-3 mb-3 text-center"
                id="btn-submit-login">Đăng nhập
        </button>
        <div>
            <span class="">Bạn chưa có tài khoản? </span>
            <a href="#" id="link-sign-up">Đăng ký</a>
        </div>
    </form>
</main>
<footer th:replace="~{/fragment/app-fragment :: footer}"></footer>
<script th:src="@{/js/model/ajax_model_employee.js}"></script>
<script th:src="@{/js/pages/ajax_page_login.js}"></script>
</body>
</html>