<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<title>Nhân Viên</title>
<th:block th:replace="~{/fragment/app-fragment :: head-resource}"></th:block>
</head>
<body>
	<menu th:replace="~{/fragment/app-fragment :: menu}"></menu>
	<main>
		<div class="title-page">
			<div class="container">
				<div class="row">
					<div class="col-12 text-center">
						<h1>Thống kê</h1>
					</div>
					<div class="col-12">
						<hr>
					</div>
				</div>
			</div>
		</div>

		<div class="tool-page">
			<div class="container">
				<div class="row">
					<div class="col-md-4">
						<select class="form-control" name="sort" id="sort">
							<option>- -</option>
							<option>Theo công việc</option>
							<option>Theo nhân viên</option>
						</select>
					</div>
				</div>
			</div>
		</div>

		<div class="table-data mt-3 mb-4">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="table-responsive">
							<table class="table table-bordered table-hover bg-white">
								<thead id="table-title">
									<tr>
										<th scope="col">STT</th>
										<th scope="col">Tên công việc</th>
										<th scope="col">Trạng thái</th>
										<th scope="col">Số lượng tham gia</th>
										<th scope="col">Nhân viên tham gia</th>
										<th>Tiến độ</th>
									</tr>
								</thead>
								<tbody id="table-data">
									<tr>
										<th scope="row">1</th>
										<td>Mark</td>
										<td><span class="badge badge-danger">Quá hạn</span></td>
										<td>Mark</td>
										<td>Mark</td>
										<td>Mark</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
	<footer th:replace="~{/fragment/app-fragment :: footer}"></footer>
	<script th:src="@{/js/model/ajax_model_task.js}"></script>
	<script th:src="@{/js/model/ajax_model_employee.js}"></script>
	<script th:src="@{/js/pages/ajax_page_statistic.js}"></script>
</body>
</html>